* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin-right: 8px;
}

.button {
  background: rgb(250, 249, 249);
  border-radius: 4px;
  color: black;
  display: inline-block;
  margin-right: 8px;
  padding: .5rem .75rem;
  text-decoration: none;
}

.button:hover {
  background: white;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.section {
  padding: 3rem 1rem;
}

.hero {
  background: lightgray;
  display: flex;
  align-items: center;
  min-height: 350px;
}

.hero--centered .hero__item-text {
  text-align: center;
}

.hero__container {
  width: 100%;
}

.hero__heading {
  font-size: 4rem;
  margin: 0 0 2rem;
}

.hero p {
  font-size: 2rem;
}

.card .no-border .card__item {
  border-color: transparent;
}

.card .shadow .card__item {
  border: 0;
  box-shadow: 0 3px 10px rgba(141, 141, 141, 0.3);
}

.card .uncontained .card__item {
  border: 0;
  padding: 0;
}

.card__container {
  display: flex;
  gap: 24px;
}

.card__item {
  border: 1px solid #cacaca;
  border-radius: 6px;
  padding: 1rem;
}

.text-block--center {
  text-align: center;
}

.text-block--center .text-block__item {
  margin: auto;
  max-width: 700px;
}

.cta-block__item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 60% 1fr;
}

.cta-block--right .cta-block__item {
  grid-template-columns: 1fr 60%;
}

.cta-block--right .cta-block__item-text {
  order: 2;
}

.pb-builder {
  padding: 24px 32px;
}

.pb-container {
  display: grid;
  grid-template: auto / 350px 1fr;
}

.pb-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pb-sidebar {
  background: rgb(247, 247, 247);
  padding: 16px;
}