:root {
  --input-border-colour: #E8E8E8;
  --section-border-colour: #dfdfdf;
  --section-border-colour-light: #e9e9e9;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-size: var(--h2-font-size, 1.75rem);
}

label {
  display: block;
  font-size: .9rem;
  margin: 12px 0 4px;
}

p {
  line-height: 1.4;
}

button {
  cursor: pointer;
}

.button {
  background: rgb(237, 237, 237);
  border: 0;
  border-radius: 4px;
  color: black;
  display: inline-block;
  padding: .5rem .75rem;
  text-decoration: none;
}

.button:not(:disabled):hover {
  background: rgb(229, 229, 229);
}

.button:disabled {
  background-color: #f1f1f1;
  color: #bbbbbb;
  cursor: default;
}

.button--primary {
  background-color: #057BBA;
  color: white;
}

.button--primary:not(:disabled):hover {
  background-color: #016ea8;
}

.button--secondary {
  background-color: #FAD287;
}

.button--secondary:not(:disabled):hover {
  background-color: #f5c978;
}

.button--red {
  background-color: #b03b56;
  color: white;
}

.button--red:not(:disabled):hover {
  background-color: #a2334d;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-small {
  padding: .25rem .5rem;
}

.button-icon {
  align-items: center;
  display: flex;
}

.button-icon-round {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.pb-show {
  display: block;
}

.pb-hide {
  display: none;
}

img {
  max-width: 100%;
}

.header {
  align-items: center;
  background: #2D344D;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.header__link {
  border-bottom: 2px solid transparent;
  color: #ECF8FD;
  display: inline-block;
  font-size: 0.875rem;
  margin: 0 .25rem;
  padding: .25rem .25rem;
  text-decoration: none;
  transition: .1s;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link:hover {
  border-color: #454f72;
}

.header__lockup {
  width: 100px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.section {
  padding: var(--section-padding, 2rem 1rem);
}

.hero {
  display: flex;
  align-items: center;
  min-height: 350px;
}

.hero__item {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.hero--centered .hero__item-text {
  text-align: center;
}

.hero__container {
  width: 100%;
}

.hero__heading {
  font-size: var(--hero-heading-font-size, 3rem);
  margin: 0 0 1rem;
}

.hero__item-media {
  display: var(--hero-item-media-display, none);
  width: 40%;
}

.hero__item-media img {
  width: 100%;
}

.hero p {
  font-size: var(--hero-subheading-font-size, 1.5rem);
  margin: 1rem 0;
}

.card.no-border .card__item {
  border-color: transparent;
}

.card .shadow .card__item {
  border: 0;
  box-shadow: 0 3px 10px rgba(141, 141, 141, 0.3);
}

.card .uncontained .card__item {
  border: 0;
  padding: 0;
}

.card__container {
  display: var(--card-container-display);
  gap: var(--card-container-gap);
}

.card__item {
  border: 1px solid #cacaca;
  border-radius: 6px;
  flex-grow: 1;
  padding: 1rem;
}

.text-block--center {
  text-align: center;
}

.text-block--center .text-block__item {
  margin: auto;
  max-width: 700px;
}

.text-block--center .button-container {
  justify-content: center;
}

.cta-block__item {
  display: var(--cta-block-item-display);
  gap: var(--cta-block-item-gap);
  grid-template: var(--cta-block-item-grid-template);
}

.cta-block--right .cta-block__item {
  grid-template-columns: 1fr 60%;
}

.cta-block--right .cta-block__item-text {
  order: 2;
}

.pb-branding-color-tile {
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 28px;
}

.pb-branding-color-tile--suggestion {
  border: none;
  border-radius: 0;
  color: grey;
  transition: color .1s;
}

.pb-branding-color-tile--suggestion:hover {
  color: black;
}

.pb-branding-color-tile--suggestion:first-of-type {
  border-radius: 4px 0 0 4px;
}

.pb-branding-color-tile--suggestion:last-of-type {
  border-radius: 0 4px 4px 0;
}

.pb-branding-color-tile--suggestion:only-of-type {
  border-radius: 4px;
}

.pb-branding-color-tile-icon {
  background: rgba(255,255,255,0.4);
  border-radius: 3px;
  opacity: 0;
  transition: .1s;
}

.pb-branding-color-tile:hover .pb-branding-color-tile-icon {
  opacity: 1;
}

.pb-branding-color-tile-add-icon {
  position: absolute;
}

.pb-branding-color-tile--active {
  outline: 1px solid #057BBA;
}

.pb-branding-color-tile--add {
  background: white;
  position: relative;
}

.pb-branding-color-tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 8px 0;
}

.pb-branding-color-tile-container--large-gap {
  gap: 8px;
}

.pb-branding-color-tile-suggestions {
  border: 1px solid var(--input-border-colour);
  border-radius: 4px;
  display: flex;
}

.pb-builder {
  padding: 24px 32px 24px 38px;
}

.pb-buttons-item {
  display: flex;
  gap: .5rem;
}

.pb-colour-picker {
  height: 25px;
  position: relative;
  width: 25px;
}

.pb-colour-picker__icon {
  inset: 0;
  position: absolute;
}

.pb-colour-picker__input {
  cursor: pointer;
  position: relative;
  opacity: 0;
  z-index: 1;
}
.pb-colour-picker__outline {
  border-radius: 50%;
  display: block;
  position: absolute;
  inset: -2px;
}

.pb-colour-picker__input:focus + .pb-colour-picker__outline {
  outline: -webkit-focus-ring-color auto 1px;
}

.pb-container {
  grid-template: auto / 350px 1fr;
  min-height: 100vh;
  position: relative;
}

.pb-modal {
  align-items: center;
  background: rgba(0,0,0, .5);
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.pb-modal--show {
  display: flex;
}

.pb-modal-main {
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 600px;
  min-width: min(400px, 90vw);
  padding: 1rem;
  position: relative;
}

.pb-modal-main footer {
  padding-top: 16px;
}

.pb-modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.pb-section {
  border: 1px solid lightgrey;
  border-radius: 0 0 4px 4px;
  padding: 1rem;
  margin: -1px 0 1rem;
  position: relative;
}

.pb-section-move-buttons {
  display: flex;
  flex-direction: column;
  left: -20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.pb-section-move-buttons .button {
  margin: 2px;
}

.pb-section-move-buttons .button ~ .button {
  margin-left: 2px;
}

/* .pb-section-component-name {
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  font-size: .75rem;
  padding: .15rem .5rem;
  position: absolute;
  top: -5px;
  left: -5px;
} */
/* 
.pb-section-delete {
  margin: 0;
  position: absolute;
  top: -10px;
  right: -10px;
} */

.pb-section-empty {
  border-radius: 4px;
  border-style: dashed;
  text-align: center;
}

.pb-section-header {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.pb-section-header-buttons {
  display: flex;
  gap: 8px;
}

.pb-section-header-buttons button {
  margin: 0;
}

.pb-section-header-heading {
  margin: 0;
  text-transform: capitalize;
}

.pb-section-text-input {
  border: 1px solid var(--input-border-colour);
  border-radius: 6px;
  display: block;
  font-size: .9rem;
  margin: .5rem 0;
  padding: .25rem .5rem;
  width: 100%;
}

.pb-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pb-sidebar {
  background: rgb(247, 247, 247);
  bottom: 0;
  left: -100%;
  padding: 16px;
  position: absolute;
  top: 0;
  transition: .1s;
  width: 300px;
  z-index: 1;
}

.pb-sidebar--open {
  left: 0;
}

.pb-sidebar__section {
  border-bottom: 1px solid var(--section-border-colour);
  padding: 1.5rem 0;
}

.pb-sidebar__section-inner {
  padding: 1rem 0;
}

.pb-sidebar__section-inner:first-of-type {
  padding-top: 0;
}

.pb-sidebar__section h3 {
  margin-top: 0;
}

.pb-sidebar__section h4 {
  margin: 8px 0;
}

.pb-sidebar__section:last-of-type {
  border-bottom: none;
}

.pb-sidebar__toggle-button {
  background: none;
  border: none;
  position: absolute;
  z-index: 1;
}

.pb-sidebar__toggle-button--open {
  left: .8rem;
  top: .8rem;
}

.pb-sidebar__toggle-button--close {
  right: .8rem;
  top: .8rem;
}

.pb-sidebar-component {
  display: grid;
  gap: 8px;
  grid-template: auto / repeat(2, 1fr);
}

.pb-sidebar-component__button {
  padding: 0.25rem;
}

.pb-homepage-hero {
  background: url(images/homepage-hero.svg) no-repeat;
  background-position: 90% 18px;
  background-size: cover;
  padding: var(--pb-homepage-hero-padding, 3rem 0);
}

.pb-text-block-cta {
  background: linear-gradient(90deg, #057bba 27%, #29c1dd 100%);
}

.pb-homepage-cta-block-left { 
  background: url(images/homepage-cta.svg) no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.pb-preview-modal {
  background: rgba(0,0,0,0.8);
  inset: 0;
  overflow-y: scroll;
  position: fixed;
  z-index: 3;
}

.pb-preview-modal__close {
  background: none;
  border: 0;
  color: white;
  margin: 0;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.pb-preview-modal__main {
  background: white;
  margin: 2rem;
}

.pb-tab-content {
  min-height: 210px;
  padding-top: 4px;
}

.pb-tab-content--show {
  display: block;
}

.pb-tab-headings {
  border-bottom: 1px solid lightgray;
}

.pb-tab-link {
  border: 1px solid #D1D0D0;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  margin-right: 8px;
  padding: .25rem .5rem;
}

.pb-tab-link--active {
  background: white;
}

.pb-section-item {
  border-bottom: 1px solid var(--section-border-colour-light);
  gap: 16px;
  grid-template: auto / repeat(2, 1fr) .75fr;
  padding: 1rem 0;
}

.pb-section-item:last-of-type {
  border: none;
}

.pb-section-item__padding {
  display: flex;
  gap: 8px;
}

.pb-section-item__padding-guide {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  position: relative;
  width: 30px;
}

.pb-section-item__padding-guide.top .pb-section-item__padding-guide-line--1 {
  background: blue;
}

.pb-section-item__padding-guide.right .pb-section-item__padding-guide-line--2 {
  background: blue;
}
.pb-section-item__padding-guide.bottom .pb-section-item__padding-guide-line--3 {
  background: blue;
}
.pb-section-item__padding-guide.left .pb-section-item__padding-guide-line--4 {
  background: blue;
}

.pb-section-item__padding-guide-line {
  background: lightgrey;
  position: absolute;
}

.pb-section-item__padding-guide-line--1 {
  height: 2px;
  left: 0;
  right: 0;
  top: 0;
}

.pb-section-item__padding-guide-line--2 {
  bottom: 0;
  right: 0;
  top: 0;
  width: 2px;
}

.pb-section-item__padding-guide-line--3 {
  height: 2px;
  left: 0;
  bottom: 0;
  right: 0;
}

.pb-section-item__padding-guide-line--4 {
  bottom: 0;
  left: 0;
  top: 0;
  width: 2px;
}

.pb-section-item__padding .pb-section-text-input {
  border: 0;
  border-bottom: 1px solid var(--input-border-colour);
  border-radius: 0;
  width: 20%;
}

/* Material icon rules */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media screen and (min-width: 800px) {
  :root {
    --card-container-display: flex;
    --card-container-gap: 24px;

    --cta-block-item-display: grid;
    --cta-block-item-gap: 1rem;
    --cta-block-item-grid-template: auto / repeat(2, 1fr);

    --h2-font-size: 2rem;

    --hero-heading-font-size: 4rem;
    --hero-item-media-display: block;
    --hero-subheading-font-size: 2rem;

    --section-padding: 5rem 1rem;
    
    --pb-homepage-hero-padding: 4rem 1rem 7rem; 
  }

  .pb-section-item {
    display: grid;
  }

  .header__link {
    font-size: 1rem;
    margin: 0 .5rem;
  }
}

@media screen and (min-width: 1000px) {
  .pb-container {
    display: grid;
  }

  .pb-sidebar {
    position: static;
    width: auto;
    z-index: 0;
  }

  .pb-sidebar__toggle-button {
    display: none;
  }
}


/* Utils */
.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}
