* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-size: var(--h2-font-size, 1.75rem);
}

p {
  line-height: 1.4;
}

button {
  cursor: pointer;
  margin-right: 8px;
}

.button {
  background: rgb(250, 249, 249);
  border-radius: 4px;
  color: black;
  display: inline-block;
  margin-right: 8px;
  padding: .5rem .75rem;
  text-decoration: none;
}

.button:not(:disabled):hover {
  background: white;
}

.button:disabled {
  background-color: #f1f1f1;
  color: #bbbbbb;
  cursor: default;
}

.button--primary {
  background-color: #057BBA;
  color: white;
}

.button--primary:not(:disabled):hover {
  background-color: #016ea8;
}

.button--secondary {
  background-color: #FAD287;
}

.button--secondary:not(:disabled):hover {
  background-color: #f5c978;
}

.button-small {
  padding: .25rem .5rem;
}

.button-icon {
  align-items: center;
  display: flex;
}

.button-icon-round {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 2px;
  width: 30px;
}

img {
  max-width: 100%;
}

.header {
  align-items: center;
  background: #EDF8FD;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.header__link {
  border-radius: 4px;
  color: #016398;
  display: inline-block;
  padding: .25rem .5rem;
  text-decoration: none;
}

.header__link:hover {
  background-color: #e4f5fd;
  color: #01507a;
}

.header__lockup {
  width: 100px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.section {
  padding: var(--section-padding, 2rem 1rem);
}

.hero {
  background: lightgray;
  display: flex;
  align-items: center;
  min-height: 350px;
}

.hero--centered .hero__item-text {
  text-align: center;
}

.hero__container {
  width: 100%;
}

.hero__heading {
  font-size: var(--hero-heading-font-size, 3rem);
  margin: 0 0 1rem;
}

.hero p {
  font-size: var(--hero-subheading-font-size, 1.5rem);
  margin: 1rem 0;
}

.card.no-border .card__item {
  border-color: transparent;
}

.card .shadow .card__item {
  border: 0;
  box-shadow: 0 3px 10px rgba(141, 141, 141, 0.3);
}

.card .uncontained .card__item {
  border: 0;
  padding: 0;
}

.card__container {
  display: var(--card-container-display);
  gap: var(--card-container-gap);
}

.card__item {
  border: 1px solid #cacaca;
  border-radius: 6px;
  flex-grow: 1;
  padding: 0 1rem;
}

.text-block--center {
  text-align: center;
}

.text-block--center .text-block__item {
  margin: auto;
  max-width: 700px;
}

.cta-block__item {
  display: var(--cta-block-item-display);
  gap: var(--cta-block-item-gap);
  grid-template: var(--cta-block-item-grid-template);
}

.cta-block--right .cta-block__item {
  grid-template-columns: 1fr 60%;
}

.cta-block--right .cta-block__item-text {
  order: 2;
}

.pb-builder {
  padding: 24px 32px;
}

.pb-container {
  display: grid;
  grid-template: auto / 350px 1fr;
  min-height: 100vh;
}

.pb-section {
  border: 1px dashed grey;
  padding: 2rem;
  margin: 1rem 0;
  position: relative;
}

.pb-section-move-buttons {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.pb-section-component-name {
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  font-size: .75rem;
  padding: .15rem .5rem;
  position: absolute;
  top: -5px;
  left: -5px;
}

.pb-section-card {
  align-items: center;
  display: flex;
  gap: 16px;
}

.pb-section-delete {
  margin: 0;
  position: absolute;
  top: -10px;
  right: -10px;
}

.pb-section-empty {
  text-align: center;
}

.pb-section-text-input {
  border: 1px solid grey;
  border-radius: 6px;
  display: block;
  font-size: 1rem;
  margin: .5rem 0;
  padding: .25rem .5rem;
}

.pb-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pb-sidebar {
  background: rgb(247, 247, 247);
  padding: 16px;
}

.pb-homepage-hero {
  background: url(images/homepage-hero.svg) no-repeat;
  background-position: 90% 18px;
  background-size: cover;
  padding-top: var(--pb-homepage-hero-padding-top, 2rem);
}

.pb-text-block-cta {
  background: linear-gradient(90deg, rgba(5,123,186,1) 27%, rgba(41,193,221,1) 100%);
}

.pb-homepage-cta-block-left { 
  background: url(images/homepage-cta.svg) no-repeat;
  background-position: bottom;
  background-size: 100%;
}

/* Material icon rules */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media screen and (min-width: 800px) {
  :root {
    --card-container-display: flex;
    --card-container-gap: 24px;

    --cta-block-item-display: grid;
    --cta-block-item-gap: 1rem;
    --cta-block-item-grid-template: auto / repeat(2, 1fr);

    --h2-font-size: 2rem;

    --hero-heading-font-size: 4rem;
    --hero-subheading-font-size: 2rem;

    --section-padding: 5rem 1rem;
    
    --pb-homepage-hero-padding-top: 3rem; 
  }
}